html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #141414;
  color: #fff;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.swiper{
  overflow: visible !important;
}
.swiper-button-prev, .swiper-button-next {
  color: #fff !important;
  transform: scale(0.5);
  transition: all .3s ease-in-out;
}
.swiper-button-prev:hover, .swiper-button-next:hover{
  transform: scale(0.7);
}
.swiper-slide {
  overflow: hidden;
margin-right: 7px;
cursor: pointer;
background:#141414;
  transition: all 450ms !important;

}
.swiper-wrapper:hover .swiper-slide {
  position: relative;
  
}
 .swiper-slide:hover{
  z-index: 10000;
  transform: scale(1.3) !important;
  box-shadow: -2px 0px 40px -21px rgba(0,0,0,0.8);
  -webkit-box-shadow: -2px 0px 40px -21px rgba(0,0,0,0.8);
  -moz-box-shadow: -2px 0px 40px -21px rgba(0,0,0,0.8);
}
.swiper-slide:hover p{
  display: flex;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 100% !important;
left: 0px !important;
}
.swiper-pagination{
  top: -30px !important;
right: 10px !important;
width: auto !important;
text-align: right !important;
height: auto !important;
}
.swiper-pagination-bullet {
  background-color: rgb(255, 255, 255) !important;
}